@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'montserrat', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  background-image: url(./assets/default.jpg);
}

.clear-sky {
  background-image: url(./assets/clearSky.jpg);
}

.clear {
  background-image: url(./assets/clearSky.jpg);
}

.snow {
  background-image: url(./assets/snowing.jpg);
}
.clouds {
  background-image: url(./assets/cloudy.jpg);
}

.rain {
  background-image: url(./assets/rain.jpg);
}

code {
  font-family: 'montserrat', 'sans-serif';
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5fdd54;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "C";
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
  display: grid;
  place-content: center;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e5e5ea;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "F";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-display {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: #9e9fb086;
  margin: 2rem;
  border-radius: 50px;
}

.main-weather {
  font-size: 3.5rem;
}

.sub-weather {
  font-size: 1rem;
}

.icon {
  width: 2rem;
  margin-right: 0.6rem;
}

.temperature-container {
  display: flex;
  align-items: center;
  margin-right: 2.8rem;
  margin-left: 2.8rem;
  font-size: 3.5rem;
  font-weight: 700;
}


.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.sub-weather {
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.main-weather {
  font-weight: 700;
}

.feels-like-container, .humidity-container, .wind-container, .time-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 650;
}

.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: .3s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  margin-left: .4rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}

.clock-icon {
  width: 1.8rem;
  margin-right: 1rem;
}